In [26]:
import pandas as pd
import numpy as np

In [27]:
xgb = pd.read_csv('xgb.csv', header = None)
# xgb.drop_duplicates(inplace=True)

In [28]:
xgb

,0,1,2,3,4,5,6
0,train_n_100_lr_0.3_d_3_child_1,438.95,438.61,444.65,436.71,440.97,439.98
1,val_n_100_lr_0.3_d_3_child_1,465.61,472.75,447.77,478.95,456.21,464.26
2,train_n_100_lr_0.3_d_3_child_2,439.90,438.32,444.60,436.83,440.92,440.11
3,val_n_100_lr_0.3_d_3_child_2,464.40,472.18,448.26,479.38,454.27,463.70
4,train_n_100_lr_0.3_d_3_child_5,440.25,440.50,444.57,436.06,443.75,441.03
...,...,...,...,...,...,...,...
507,val_n_1000_lr_0.05_d_6_child_2,478.42,488.06,460.98,489.48,470.86,NaN
508,train_n_1000_lr_0.05_d_6_child_5,336.39,338.15,342.96,337.15,345.51,NaN
509,val_n_1000_lr_0.05_d_6_child_5,476.48,483.32,462.18,489.46,468.42,NaN
510,train_n_1000_lr_0.05_d_6_child_10,356.01,359.67,357.82,351.31,360.40,NaN
511,val_n_1000_lr_0.05_d_6_child_10,476.59,482.65,457.02,488.02,465.92,NaN

In [29]:
df = xgb

In [30]:
df[6] = np.round((df[1] + df[2] + df[3] + df[4] + df[5])/5, 2)

In [31]:
df.to_csv('xgb_mod.csv', header=False, index=False)